<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PiLot Beer</title>
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="../../assets/css/base.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/responsive.css" /> -->
  </head>

  <body onresize="fixBannerImage()">
    <div class="container-fluid">
      <div class="header">
        <div class="header-inner">
          <div class="header-inner_content">
            <div class="header-inner_nav">
              <div class="mobile-nav" onclick="openMobileNav()">
                <i class="bx bx-menu"></i>
              </div>
              <div class="header-nav_left">
                <div class="main-logo">
                  <img src="../../assets/img/logo.PNG" alt="" />
                </div>
              </div>
              <div class="header-nav_right">
                <div class="nav-item">
                  <a class="nav-item_link" href="#">Home</a>
                </div>
                <div class="nav-item">
                  <a class="nav-item_link" href="#">Beer</a>
                </div>
                <div class="nav-item">
                  <a class="nav-item_link" href="#">Food</a>
                </div>
                <div class="nav-item">
                  <a class="nav-item_link" href="#">About</a>
                </div>
                <div class="nav-item">
                  <a class="nav-item_link" href="#">Contact</a>
                </div>
                <div class="close-mobile-nav" onclick="closeMobileNav()">
                  <i class="bx bx-x"></i>
                </div>
              </div>
              <div class="header-nav_user">
                <a class="btn-login" href="#">
                  <span class="user-icon"
                    ><i class="bx bxs-user-circle"></i
                  ></span>
                  <span>Login</span>
                </a>
                <div class="favourite">
                  <i class='bx bxs-heart-circle'></i>
                  <div class="favourite-list"> 
                  </div>
                </div>
              </div>
            </div>
            <div class="header-inner_banner">
              <div class="grid-row">
                <div class="grid-col grid-col-5">
                  <div class="grid-col_content">
                    <div class="header-banner_heading">
                   
                    </div>
                    <div class="header-banner_title">
                      <h2> <span class="yellow"></span></h2>
                      <h2><span class="yellow"></span></h2>
                    </div>
                    <div class="header-banner_des">
                      <p>
                      
                      </p>
                    </div>
                    <div class="header-banner_button">
                      <a href="" class="order-btn btn">Mua hang</a>
                      <span>ou pour <u>en savoir plus</u></span>
                    </div>
                  </div>
                </div>
                <div class="grid-col grid-col-7">
                  <div class="grid-col_content">
                    <div class="banner-image">
                      <img
                        class="banner-image_large"
                        src=""
                        alt=""
                      />
                      <img
                        class="banner-image_small"
                        src=""
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
   
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="./assets/js/script.js"></script> -->
 
  </body>
</html>
