<div class="container-fluid">
  <div class="header">
    <div class="header-inner">
      <div class="header-inner_content">
        <div class="header-inner_nav">
          <div class="mobile-nav" onclick="openMobileNav()">
            <i class="bx bx-menu"></i>
          </div>
          <div class="header-nav_left">
            <div class="main-logo">
              <img src="./assets/img/logo.PNG" alt="" />
            </div>
          </div>
          <div class="header-nav_right">
            <div class="nav-item">
              <a class="nav-item_link" href="../../index.html">Home</a>
            </div>
            <div class="nav-item">
              <a class="nav-item_link" href="../pages/filter.html">Beer</a>
            </div>
            <div class="nav-item">
              <a class="nav-item_link" href="../pages/food.html">Food</a>
            </div>
            <div class="nav-item">
              <a class="nav-item_link" href="../../index.html">About</a>
            </div>
            <div class="nav-item">
              <a class="nav-item_link" href="../pages/contact.html">Contact</a>
            </div>
            <div class="close-mobile-nav" onclick="closeMobileNav()">
              <i class="bx bx-x"></i>
            </div>
          </div>
          <div class="header-nav_user">
            <a class="btn btn-login" href="../pages/login.html">
              <span class="user-icon"
                ><i class="bx bxs-user-circle"></i
              ></span>
              <span>Login</span>
            </a>
            <div class="favourite">
              <i class='bx bxs-heart-circle'></i>
              <div class="favourite-list">
              </div>
            </div>
          </div>
        </div>
        <div class="header-inner_banner">
          <div class="grid-row">
            <div class="grid-col grid-col-5">
              <div class="grid-col_content">
                <div class="header-banner_heading">
                  Modern Beer Technology No. 1 - The Pilot
                </div>
                <div class="header-banner_title">
                  <h2>Handmade beer <span class="yellow">The Pilot</span></h2>
                </div>
                <div class="header-banner_des">
                  <p>
                    Manufactured by Polyco Corporation - Contractor to build famous domestic and international beer and soft drink manufacturing projects such as TH-Truemilk, Vinamilk, Coca-Cola, Saigon Beer, Heniken Beer, etc. The Pilot now boasts a state-of-the-art production system.
                </div>
                <div class="header-banner_button">
                  <a href="" class="order-btn btn">Order Now</a>
                  <span>opening <u>12/10/2021</u></span>
                </div>
              </div>
            </div>
            <div class="grid-col grid-col-7">
              <div class="grid-col_content">
                <div class="banner-image">
                  <img
                    class="banner-image_large"
                    src="./assets/img/biavanuoc__1_-removebg-preview.png"
                    alt=""
                  />
                  <img
                    class="banner-image_small"
                    src="./assets/img/biakhongnuoc-removebg-preview (2).jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  